*.log
**/__pycache__
next_console/app/data/.gitkeep
!app/data/.gitkeep
tmp/*
!tmp/.gitkeep
.idea
venv
server/app/logs/*
server/app/data/*
server/app/libs/*
admin/app/logs/*
admin/app/data/*
admin/app/libs/*

.idea/*
celerybeat-schedule.dat
celerybeat-schedule.bak
celerybeat-schedule.dir


