.next-console-font-bold{

  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #667085;

}
.next-console-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}
